/*--------------------------------------------------
                Header Section 
----------------------------------------------------*/

.navContainer {
  background-image: linear-gradient(to right, #0f1511, #15282b);
  padding: 0px 135px !important;
}

/*--------------------------------------------------
                Banner Section 
----------------------------------------------------*/
.bannerContainer {
  background-image: linear-gradient(to right, #0f1511, #15282b);
  padding: 0px 135px;
}
.BannerHeading {
  font-family: Gilroy;
  font-style: Bold;
  font-size: 64px;
  line-height: 70px-;
}
.bannerContent {
  font-family: Gilroy;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
}
.primaryBtn {
  background-color: #0dc8de;
  color: white;
  font-style: Semibold;
  font-size: 20px;
  line-height: 32px;
  padding: 14px 40px;
  border-radius: 56px;
  margin-top: 2rem;
}

/*--------------------------------------------------
                Services Section 
----------------------------------------------------*/

.servicesSection {
  background-color: #107e4c;
  /* color: white; */
}
.servicesCard {
  background: rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.servicesHeading {
  font-family: Gilroy;
  font-style: Bold;
  font-size: 48px;
  line-height: 56px;
  color: white;
}
.servicesSubHeading {
  font-family: Gilroy;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
.BillList {
  font-family: Gilroy;
  font-style: Medium;
  font-size: 20px;
  line-height: 32px;
  margin-left: 10px;
}

/*--------------------------------------------------
                About Section 
----------------------------------------------------*/
.aboutHeading {
  font-family: Gilroy;
  font-style: Bold;
  font-size: 48px;
  line-height: 56px;
}

.aboutContent {
  font-family: Gilroy;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
}

.talkContainer {
  background-color: #107e4c;
  padding: 0px 135px;
}

/*--------------------------------------------------
                Simple Bill  Section 
----------------------------------------------------*/

.billBannerImg {
  width: 570px !important;
  height: 690px !important;
}
.billHeading {
  color: #0f1511;
  font-family: Gilroy;
  font-style: Bold;
  font-size: 48px;
  line-height: 56px;
}
.billSubContent {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 28px;
  margin: 5% 0%;
  color: #333333;
}

/*--------------------------------------------------
                Footer  Section 
----------------------------------------------------*/
.footerContainer {
  /* background-image: linear-gradient(to right, #0f1511, #15282b); */
  background-color: #0f1511;
  padding: 0px 135px !important;
}
.footerLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15%;
}

.footerLeftSection > h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-top: 40px;
}
.footerLeftSection > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #d5d5d5;
  margin-top: 20px;
}

.links > ul > li > a {
  color: #d5d5d5;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}
.links > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
